cache/*
env/
.env/
posters/*
*.png
svg/
test_images/
bluenoise/*
!bluenoise/
!bluenoise/128_128
bluenoise/128_128/*
!bluenoise/128_128/LDR_LLL1_0.png
svg\
target.*
jupyter/out_wash.pnm
jupyter/*.png
jupyter/*.nc